body {
background: #843708;
    color: #dddad5;
    font-family:Arial;
}

h1, h2, h3, h4, h5, h6  {
    color: #c1b073;
}

h1 {
	font-size:1.5em;
}
h2 {
	font-size:1.2em;
}
h3 {
	font-size:1.0em;
}
h4 {
	font-size:0.9em;
}
h5 {
	font-size:0.8em;
}
h6 {
	font-size:0.7em;
}


a {
    color: #938F67;
    }


::selection {
    background: #428399;
    color: #fff;
    }

::-moz-selection {
    background: #428399;
    color: #fff;
    }
footer {
	background-color:#000000;
}
header {
	text-align:center;
}
/* Source http://www.flexboxin5.com/ */
/* first flex-container renamed due to addition from http://the-echoplex.net/flexyboxes/ */
.flex-container-from-flexboxin5 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}
		
  

.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}
/* add flex-item-nav to original code from http://www.flexboxin5.com/ */
.flex-item-nav {
    height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    border: solid #cccccc 3px;
    border-radius:5px;
    background-color:#000000;
    text-align:center;
}		
.flex-item-links {
    height: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    border: solid #cccccc 3px;
    border-radius:5px;
    background-color:#642d0c;
    text-align:center;
}


.flex-item-1 {
    width: <property unused>
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
	

.flex-item-2 {
    width: <property unused>
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
	

.flex-item-3 {
    width: <property unused>
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
	

.flex-item-4 {
    width: <property unused>
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
	

.flex-item-5 {
    width: <property unused>
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
	

.flex-item-6 {
    width: <property unused>
    height: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}
/* end Source http://www.flexboxin5.com/ */
/* beginning addition from http://the-echoplex.net/flexyboxes/ */	
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.flex-item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.flex-item:nth-child(3) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
.flex-container {
    width: 100%;
    -moz-box-sizing: border-box;
    }

} 
/*end addition from http://the-echoplex.net/flexyboxes/ */
         
                  
